/**
 *	Chapter Heading Hook
 */

{{ aesop_chapter_before }}
 
// if video is bg type
 
<section id="chapter-hash-HASH" class="aesop-article-chapter-wrap default-cover aesop-video-chapter aesop-component">{{ aesop_chapter_inside_top }}
<div class="aesop-article-chapter clearfix" style="height: auto;"><span class="aesop-chapter-title">LABEL</span>
<h2 class="aesop-cover-title">TITLE<small>SUBTITLE</small></h2>
<div class="video-container">
 
"IMG"
 
</div>
</div>
{{ aesop_chapter_inside_bottom }}
 
</section>// else if img is bg type
 
<section id="chapter-hash-HASH" class="aesop-article-chapter-wrap default-cover aesop-component">{{ aesop_chapter_inside_top }}
<div class="aesop-article-chapter clearfix" style="background: url(‘IMG’) center center; background-size: cover;"><span class="aesop-chapter-title">LABEL</span>
<h2 class="aesop-cover-title">TITLE<small>SUBTITLE</small></h2>
</div>
{{ aesop_chapter_inside_bottom }}
 
</section>{{ aesop_chapter_after }}